.home {
  display: flex;
  width: 100%;
  height: 85vh;
  justify-content: start;
  align-items: center;
  background-color: var(--secondary-color);
  position: relative;
  color: var(--title-color);

  .welcome-msg {
    font-size: 3vw;
    position: absolute;
    left: 70%;
    top: 10%;
    animation: from-outside-welcome-msg 0.5s alternate ease-in-out;
  }
  .happy-customers {
    font-size: 2vw;
    position: absolute;
    left: 70%;
    top: 30%;
    animation: from-outside-happy-customers 1s alternate ease-in-out;
  }
}
.map-container {
  position: relative;
  margin-left: 10%;
}

.map {
  width: 50vw;
}

.car {
  width: 8%;
  position: absolute;
  left: 30%;
  top: 5%;
  transform: rotate(10deg);
  animation: move 20s infinite alternate ease-in-out;
}

@keyframes move {
  0% {
    top: 10%;
  }
  30% {
    top: 35%;
    left: 20%;
  }
  80% {
    top: 58%;
    left: 18%;
    transform: rotate(0deg);
  }
  100% {
    top: 50%;
    left: 30%;
    transform: rotate(90deg);
  }
}

@keyframes from-outside-welcome-msg {
  0% {
    left: 100%;
  }
  100% {
    left: 70%;
  }
}
@keyframes from-outside-happy-customers {
  0% {
    left: 100%;
  }
  100% {
    left: 70%;
  }
}

@media (max-width: 768px) {
  .map {
    width: 120%;
  }
  .home {
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    position: static;
    color: var(--primary-color);
    overflow: hidden;

    .welcome-msg {
      font-size: 5vw;
      position: static;
      left: auto;
      top: auto;
      animation: none;
      text-align: center;
      margin: 20px 0;
    }

    .happy-customers {
      font-size: 3vw;
      position: static;
      left: auto;
      top: auto;
      animation: none;
      text-align: center;
      margin: 10px 0;
    }
  }
  .car {
    width: 10%;
    position: absolute;
    left: 35%;
    top: 5%;
    transform: rotate(10deg);
    animation: move 20s infinite alternate ease-in-out;
  }
  @keyframes move {
    0% {
      top: 10%;
    }
    30% {
      top: 35%;
      left: 25%;
    }
    80% {
      top: 58%;
      left: 20%;
      transform: rotate(0deg);
    }
    100% {
      top: 50%;
      left: 40%;
      transform: rotate(90deg);
    }
  }
}
