.reservations-container {
  padding: 1%;
  width: 100%;
  margin-top: 2%;
}
.title {
  color: #0a0a79;
  text-align: center;
  margin-bottom: 10%;
  font-size: 3vw;
}
.modal-title {
  color: var(--primary-color);
}
.search-reservation-container {
  display: flex;
  align-items: center;

  margin-left: 1%;
}
.btn-search {
  margin-left: 1%;
}
.new-reservation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1%;
}

@media (max-width: 768px) {
  .title {
    font-size: 5vw;
  }
}
