:root {
  --main-font-family: "Inconsolata", monospace;
  --primary-color: #007bff;
  --secondary-color: rgba(105, 119, 127, 0.747);
  --title-color: #0a0a79;
  --placeholder-color: #d4ecf2;
}

body {
  font-family: var(--main-font-family);
  margin: 0;
}
