.container {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 3vw;
  font-family: var(--main-font-family);
}
h2 {
  margin-bottom: 0;
}
.logo {
  width: 20%;
  height: 20%;
}
@media (max-width: 768px) {
  .container {
    display: block;
    font-size: 5vw;
    text-align: center;
    padding-top: 30%;
  }
  h2 {
    margin-bottom: 5%;
  }
  .logo {
    width: 50%;
    height: 20%;
  }
}
