.container {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 3vw;
  font-family: var(--main-font-family);
}
h2 {
  margin-bottom: 0;
}
.logo {
  width: 20%;
  height: 20%;
}
